@use '../base/variables' as v;
@use '../base/mixins' as m;

.seccion {
    margin-top: v.$separacion / 2;
    margin-bottom: v.$separacion / 2;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}