.miniproyectos-container {
    display: none;
    height: 300px; /* Altura deseada del contenedor */
    overflow-y: scroll; /* Habilitar scroll vertical */
    padding: 20px; /* Espaciado interior */
    background-color: #f1f1f1; /* Color de fondo */
  }
  