@use '../base/variables' as v;
@use '../base/mixins' as m;



.footer {
    padding: v.$separacion / 2 0 ;
    background-color: v.$grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: v.$separacion / 2;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
    .icons {
        text-decoration: none;
        color: v.$Naranja;

    }
    p {
        color: v.$blanco;
    }

}




